<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the howrs_init() hook (in hooks/howrs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="howrs-howrs_id-<%%VALUE(howrs_id)%%>" class="howrs-howrs_id text-right"><%%SELECT%%><%%VALUE(howrs_id)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_howr1-<%%VALUE(howrs_id)%%>" class="howrs-howrs_howr1"><%%SELECT%%><%%VALUE(howrs_howr1)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_howr2-<%%VALUE(howrs_id)%%>" class="howrs-howrs_howr2"><%%SELECT%%><%%VALUE(howrs_howr2)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_howr3-<%%VALUE(howrs_id)%%>" class="howrs-howrs_howr3"><%%SELECT%%><%%VALUE(howrs_howr3)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_description-<%%VALUE(howrs_id)%%>" class="howrs-howrs_description"><%%SELECT%%><%%VALUE(howrs_description)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_created-<%%VALUE(howrs_id)%%>" class="howrs-howrs_created"><%%SELECT%%><%%VALUE(howrs_created)%%><%%ENDSELECT%%></td>
		<td id="howrs-howrs_updated-<%%VALUE(howrs_id)%%>" class="howrs-howrs_updated"><%%SELECT%%><%%VALUE(howrs_updated)%%><%%ENDSELECT%%></td>
		<td class="child-madb-madb_howr1 child-records-info" data-id="<%%VALUE(howrs_id)%%>" data-table="madb" data-lookup-field="madb_howr1">
			<a href="madb_view.php?filterer_madb_howr1=<%%VALUE(howrs_id)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Madb)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="madb_view.php?filterer_madb_howr1=<%%VALUE(howrs_id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Madb)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
