<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the madb_init() hook (in hooks/madb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="madb-madb_id-<%%VALUE(madb_id)%%>" class="madb-madb_id text-right"><%%SELECT%%><%%VALUE(madb_id)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_what1-<%%VALUE(madb_id)%%>" class="madb-madb_what1"><%%SELECT%%><%%VALUE(madb_what1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_who1-<%%VALUE(madb_id)%%>" class="madb-madb_who1"><%%SELECT%%><%%VALUE(madb_who1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_when1-<%%VALUE(madb_id)%%>" class="madb-madb_when1"><%%SELECT%%><%%VALUE(madb_when1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_which1-<%%VALUE(madb_id)%%>" class="madb-madb_which1"><%%SELECT%%><%%VALUE(madb_which1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_where1-<%%VALUE(madb_id)%%>" class="madb-madb_where1"><%%SELECT%%><%%VALUE(madb_where1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_why1-<%%VALUE(madb_id)%%>" class="madb-madb_why1"><%%SELECT%%><%%VALUE(madb_why1)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_why2-<%%VALUE(madb_id)%%>" class="madb-madb_why2"><%%SELECT%%><%%VALUE(madb_why2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_why3-<%%VALUE(madb_id)%%>" class="madb-madb_why3"><%%SELECT%%><%%VALUE(madb_why3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_where2-<%%VALUE(madb_id)%%>" class="madb-madb_where2"><%%SELECT%%><%%VALUE(madb_where2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_where3-<%%VALUE(madb_id)%%>" class="madb-madb_where3"><%%SELECT%%><%%VALUE(madb_where3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_which2-<%%VALUE(madb_id)%%>" class="madb-madb_which2"><%%SELECT%%><%%VALUE(madb_which2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_which3-<%%VALUE(madb_id)%%>" class="madb-madb_which3"><%%SELECT%%><%%VALUE(madb_which3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_when2-<%%VALUE(madb_id)%%>" class="madb-madb_when2"><%%SELECT%%><%%VALUE(madb_when2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_when3-<%%VALUE(madb_id)%%>" class="madb-madb_when3"><%%SELECT%%><%%VALUE(madb_when3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_who2-<%%VALUE(madb_id)%%>" class="madb-madb_who2"><%%SELECT%%><%%VALUE(madb_who2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_who3-<%%VALUE(madb_id)%%>" class="madb-madb_who3"><%%SELECT%%><%%VALUE(madb_who3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_what2-<%%VALUE(madb_id)%%>" class="madb-madb_what2"><%%SELECT%%><%%VALUE(madb_what2)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_what3-<%%VALUE(madb_id)%%>" class="madb-madb_what3"><%%SELECT%%><%%VALUE(madb_what3)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_created-<%%VALUE(madb_id)%%>" class="madb-madb_created"><%%SELECT%%><%%VALUE(madb_created)%%><%%ENDSELECT%%></td>
		<td id="madb-madb_updated-<%%VALUE(madb_id)%%>" class="madb-madb_updated"><%%SELECT%%><%%VALUE(madb_updated)%%><%%ENDSELECT%%></td>
