<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the madb_init() hook (in hooks/madb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="madb-madb_id-<%%VALUE(madb_id)%%>" class="madb-madb_id text-right text-bold"><%%VALUE(madb_id)%%></td>
		<td id="madb-madb_what1-<%%VALUE(madb_id)%%>" class="madb-madb_what1 text-bold"><%%VALUE(madb_what1)%%></td>
		<td id="madb-madb_who1-<%%VALUE(madb_id)%%>" class="madb-madb_who1 text-bold"><%%VALUE(madb_who1)%%></td>
		<td id="madb-madb_when1-<%%VALUE(madb_id)%%>" class="madb-madb_when1 text-bold"><%%VALUE(madb_when1)%%></td>
		<td id="madb-madb_which1-<%%VALUE(madb_id)%%>" class="madb-madb_which1 text-bold"><%%VALUE(madb_which1)%%></td>
		<td id="madb-madb_where1-<%%VALUE(madb_id)%%>" class="madb-madb_where1 text-bold"><%%VALUE(madb_where1)%%></td>
		<td id="madb-madb_why1-<%%VALUE(madb_id)%%>" class="madb-madb_why1 text-bold"><%%VALUE(madb_why1)%%></td>
		<td id="madb-madb_howr1-<%%VALUE(madb_id)%%>" class="madb-madb_howr1 text-bold"><%%VALUE(madb_howr1)%%></td>
		<td id="madb-madb_hows1-<%%VALUE(madb_id)%%>" class="madb-madb_hows1 text-bold"><%%VALUE(madb_hows1)%%></td>
		<td id="madb-madb_howq1-<%%VALUE(madb_id)%%>" class="madb-madb_howq1 text-bold"><%%VALUE(madb_howq1)%%></td>
		<td id="madb-madb_howt1-<%%VALUE(madb_id)%%>" class="madb-madb_howt1 text-bold"><%%VALUE(madb_howt1)%%></td>
		<td id="madb-madb_why2-<%%VALUE(madb_id)%%>" class="madb-madb_why2 text-bold"><%%VALUE(madb_why2)%%></td>
		<td id="madb-madb_why3-<%%VALUE(madb_id)%%>" class="madb-madb_why3 text-bold"><%%VALUE(madb_why3)%%></td>
		<td id="madb-madb_where2-<%%VALUE(madb_id)%%>" class="madb-madb_where2 text-bold"><%%VALUE(madb_where2)%%></td>
		<td id="madb-madb_where3-<%%VALUE(madb_id)%%>" class="madb-madb_where3 text-bold"><%%VALUE(madb_where3)%%></td>
		<td id="madb-madb_which2-<%%VALUE(madb_id)%%>" class="madb-madb_which2 text-bold"><%%VALUE(madb_which2)%%></td>
		<td id="madb-madb_which3-<%%VALUE(madb_id)%%>" class="madb-madb_which3 text-bold"><%%VALUE(madb_which3)%%></td>
		<td id="madb-madb_when2-<%%VALUE(madb_id)%%>" class="madb-madb_when2 text-bold"><%%VALUE(madb_when2)%%></td>
		<td id="madb-madb_when3-<%%VALUE(madb_id)%%>" class="madb-madb_when3 text-bold"><%%VALUE(madb_when3)%%></td>
		<td id="madb-madb_who2-<%%VALUE(madb_id)%%>" class="madb-madb_who2 text-bold"><%%VALUE(madb_who2)%%></td>
		<td id="madb-madb_who3-<%%VALUE(madb_id)%%>" class="madb-madb_who3 text-bold"><%%VALUE(madb_who3)%%></td>
		<td id="madb-madb_what2-<%%VALUE(madb_id)%%>" class="madb-madb_what2 text-bold"><%%VALUE(madb_what2)%%></td>
		<td id="madb-madb_what3-<%%VALUE(madb_id)%%>" class="madb-madb_what3 text-bold"><%%VALUE(madb_what3)%%></td>
		<td id="madb-madb_howr2-<%%VALUE(madb_id)%%>" class="madb-madb_howr2 text-bold"><%%VALUE(madb_howr2)%%></td>
		<td id="madb-madb_howr3-<%%VALUE(madb_id)%%>" class="madb-madb_howr3 text-bold"><%%VALUE(madb_howr3)%%></td>
		<td id="madb-madb_hows2-<%%VALUE(madb_id)%%>" class="madb-madb_hows2 text-bold"><%%VALUE(madb_hows2)%%></td>
		<td id="madb-madb_hows3-<%%VALUE(madb_id)%%>" class="madb-madb_hows3 text-bold"><%%VALUE(madb_hows3)%%></td>
		<td id="madb-madb_howq2-<%%VALUE(madb_id)%%>" class="madb-madb_howq2 text-bold"><%%VALUE(madb_howq2)%%></td>
		<td id="madb-madb_howq3-<%%VALUE(madb_id)%%>" class="madb-madb_howq3 text-bold"><%%VALUE(madb_howq3)%%></td>
		<td id="madb-madb_howt2-<%%VALUE(madb_id)%%>" class="madb-madb_howt2 text-bold"><%%VALUE(madb_howt2)%%></td>
		<td id="madb-madb_howt3-<%%VALUE(madb_id)%%>" class="madb-madb_howt3 text-bold"><%%VALUE(madb_howt3)%%></td>
		<td id="madb-madb_premises_id-<%%VALUE(madb_id)%%>" class="madb-madb_premises_id text-bold"><%%VALUE(madb_premises_id)%%></td>
		<td id="madb-madb_created-<%%VALUE(madb_id)%%>" class="madb-madb_created text-bold"><%%VALUE(madb_created)%%></td>
		<td id="madb-madb_updated-<%%VALUE(madb_id)%%>" class="madb-madb_updated text-bold"><%%VALUE(madb_updated)%%></td>
