<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the premises_init() hook (in hooks/premises.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="premises-premises_id-<%%VALUE(premises_id)%%>" class="premises-premises_id text-right text-bold"><%%VALUE(premises_id)%%></td>
		<td id="premises-premises_name-<%%VALUE(premises_id)%%>" class="premises-premises_name text-bold"><%%VALUE(premises_name)%%></td>
		<td id="premises-premises_latitude-<%%VALUE(premises_id)%%>" class="premises-premises_latitude text-right text-bold"><%%VALUE(premises_latitude)%%></td>
		<td id="premises-premises_longitude-<%%VALUE(premises_id)%%>" class="premises-premises_longitude text-right text-bold"><%%VALUE(premises_longitude)%%></td>
		<td id="premises-premises_radius-<%%VALUE(premises_id)%%>" class="premises-premises_radius text-right text-bold"><%%VALUE(premises_radius)%%></td>
		<td id="premises-premjees_opening-<%%VALUE(premises_id)%%>" class="premises-premjees_opening text-bold"><%%VALUE(premjees_opening)%%></td>
		<td id="premises-premjees_closing-<%%VALUE(premises_id)%%>" class="premises-premjees_closing text-bold"><%%VALUE(premjees_closing)%%></td>
		<td id="premises-premises_created-<%%VALUE(premises_id)%%>" class="premises-premises_created text-bold"><%%VALUE(premises_created)%%></td>
		<td id="premises-premises_updated-<%%VALUE(premises_id)%%>" class="premises-premises_updated text-bold"><%%VALUE(premises_updated)%%></td>
		<td class="child-pnb-pnb_premises_id child-records-info" data-id="<%%VALUE(premises_id)%%>" data-table="pnb" data-lookup-field="pnb_premises_id">
			<a href="pnb_view.php?filterer_pnb_premises_id=<%%VALUE(premises_id)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Pnb)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="pnb_view.php?filterer_pnb_premises_id=<%%VALUE(premises_id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Pnb)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
