<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the premises_init() hook (in hooks/premises.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="premises-premises_id-<%%VALUE(premises_id)%%>" class="premises-premises_id text-right"><%%SELECT%%><%%VALUE(premises_id)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_name-<%%VALUE(premises_id)%%>" class="premises-premises_name"><%%SELECT%%><%%VALUE(premises_name)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_latitude-<%%VALUE(premises_id)%%>" class="premises-premises_latitude text-right"><%%SELECT%%><%%VALUE(premises_latitude)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_longitude-<%%VALUE(premises_id)%%>" class="premises-premises_longitude text-right"><%%SELECT%%><%%VALUE(premises_longitude)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_radius-<%%VALUE(premises_id)%%>" class="premises-premises_radius text-right"><%%SELECT%%><%%VALUE(premises_radius)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_opening-<%%VALUE(premises_id)%%>" class="premises-premises_opening"><%%SELECT%%><%%VALUE(premises_opening)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_closing-<%%VALUE(premises_id)%%>" class="premises-premises_closing"><%%SELECT%%><%%VALUE(premises_closing)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_created-<%%VALUE(premises_id)%%>" class="premises-premises_created"><%%SELECT%%><%%VALUE(premises_created)%%><%%ENDSELECT%%></td>
		<td id="premises-premises_updated-<%%VALUE(premises_id)%%>" class="premises-premises_updated"><%%SELECT%%><%%VALUE(premises_updated)%%><%%ENDSELECT%%></td>
		<td class="child-pnb-pnb_premises_id child-records-info" data-id="<%%VALUE(premises_id)%%>" data-table="pnb" data-lookup-field="pnb_premises_id">
			<a href="pnb_view.php?filterer_pnb_premises_id=<%%VALUE(premises_id)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Pnb)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="pnb_view.php?filterer_pnb_premises_id=<%%VALUE(premises_id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Pnb)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
