<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the utedb_init() hook (in hooks/utedb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="utedb-utedb_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_id text-right"><%%SELECT%%><%%VALUE(utedb_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_madb-<%%VALUE(utedb_id)%%>" class="utedb-utedb_madb text-right"><%%SELECT%%><%%VALUE(utedb_madb)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_whos_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_whos_id"><%%SELECT%%><%%VALUE(utedb_whos_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_premises_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_premises_id"><%%SELECT%%><%%VALUE(utedb_premises_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_proof_image-<%%VALUE(utedb_id)%%>" class="utedb-utedb_proof_image"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>" data-lightbox="utedb-utedb_proof_image"><img src="thumbnail.php?i=<%%VALUE(utedb_proof_image)%%>&t=utedb&f=utedb_proof_image&v=tv" class="img-thumbnail"></a></td>
		<td id="utedb-utedb_ai_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_ai_audit text-right"><%%SELECT%%><%%VALUE(utedb_ai_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_pc_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_pc_audit"><%%SELECT%%><%%VALUE(utedb_pc_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_rda_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_rda_audit"><%%SELECT%%><%%VALUE(utedb_rda_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_bb_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_bb_audit"><%%SELECT%%><%%VALUE(utedb_bb_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_car-<%%VALUE(utedb_id)%%>" class="utedb-utedb_car text-right"><%%SELECT%%><%%VALUE(utedb_car)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_car_vid-<%%VALUE(utedb_id)%%>" class="utedb-utedb_car_vid"><a href="link.php?t=utedb&f=utedb_car_vid&i=<%%VALUE(utedb_id)%%>" target="_blank" title="<%%VALUE(utedb_car_vid)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-film text-info"></i></a></td>
		<td id="utedb-utedb_col_tf-<%%VALUE(utedb_id)%%>" class="utedb-utedb_col_tf"><%%SELECT%%><%%VALUE(utedb_col_tf)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_delta_flag-<%%VALUE(utedb_id)%%>" class="utedb-utedb_delta_flag"><%%SELECT%%><%%VALUE(utedb_delta_flag)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows1"><%%SELECT%%><%%VALUE(utedb_hows1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_admin-<%%VALUE(utedb_id)%%>" class="utedb-utedb_admin"><%%SELECT%%><%%VALUE(utedb_admin)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_created-<%%VALUE(utedb_id)%%>" class="utedb-utedb_created"><%%SELECT%%><%%VALUE(utedb_created)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_updated-<%%VALUE(utedb_id)%%>" class="utedb-utedb_updated"><%%SELECT%%><%%VALUE(utedb_updated)%%><%%ENDSELECT%%></td>
		<script>$j(function() {
			var e_utedb_car_vid = '<%%VALUE(utedb_car_vid)%%>'; if(e_utedb_car_vid == '' || e_utedb_car_vid == '&nbsp;') $j(/*<*/ '#utedb-utedb_car_vid-<%%VALUE(utedb_id)%%>' /*>*/).html('');
		});</script>
