<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: MADb Id -->
		<div class="form-group utedb-utedb_madb" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MADb Id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_madb<%%RND1%%>"><%%COMBOTEXT(utedb_madb)%%></span></div>
			</div>
		</div>
		<!-- Field: What 1 -->
		<div class="form-group utedb-utedb_what1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(utedb_what1)%%></div>
			</div>
		</div>
		<!-- Field: Who 1 -->
		<div class="form-group utedb-utedb_who1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Who 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_who1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: When 1 -->
		<div class="form-group utedb-utedb_when1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">When 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_when1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Which 1 -->
		<div class="form-group utedb-utedb_which1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_which1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Where 1 -->
		<div class="form-group utedb-utedb_where1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Where 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_where1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Why 1 -->
		<div class="form-group utedb-utedb_why1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Why 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_why1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (R) 1 -->
		<div class="form-group utedb-utedb_howr1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (R) 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howr1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (S) 1 -->
		<div class="form-group utedb-utedb_hows1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (S) 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_hows1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (Q) 1 -->
		<div class="form-group utedb-utedb_howq1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (Q) 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howq1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (T) 1 -->
		<div class="form-group utedb-utedb_howt1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (T) 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howt1<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Why 2 -->
		<div class="form-group utedb-utedb_why2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Why 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_why2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Why 3 -->
		<div class="form-group utedb-utedb_why3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Why 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_why3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Where 2 -->
		<div class="form-group utedb-utedb_where2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Where 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_where2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Where 3 -->
		<div class="form-group utedb-utedb_where3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Where 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_where3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Which 2 -->
		<div class="form-group utedb-utedb_which2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_which2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Which 3 -->
		<div class="form-group utedb-utedb_which3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_which3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: When 2 -->
		<div class="form-group utedb-utedb_when2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">When 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_when2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: When 3 -->
		<div class="form-group utedb-utedb_when3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">When 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_when3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Who 2 -->
		<div class="form-group utedb-utedb_who2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Who 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_who2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Who 3 -->
		<div class="form-group utedb-utedb_who3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Who 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_who3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: What 2 -->
		<div class="form-group utedb-utedb_what2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_what2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: What 3 -->
		<div class="form-group utedb-utedb_what3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_what3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (R) 2 -->
		<div class="form-group utedb-utedb_howr2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (R) 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howr2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (R) 3 -->
		<div class="form-group utedb-utedb_howr3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (R) 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howr3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (S) 2 -->
		<div class="form-group utedb-utedb_hows2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (S) 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_hows2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (S) 3 -->
		<div class="form-group utedb-utedb_hows3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (S) 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_hows3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (Q) 2 -->
		<div class="form-group utedb-utedb_howq2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (Q) 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howq2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (Q) 3 -->
		<div class="form-group utedb-utedb_howq3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (Q) 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howq3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (T) 2 -->
		<div class="form-group utedb-utedb_howt2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (T) 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howt2<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: How (T) 3 -->
		<div class="form-group utedb-utedb_howt3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">How (T) 3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_howt3<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Premises Id -->
		<div class="form-group utedb-utedb_premises_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Premises Id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="utedb_premises_id<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Utedb proof image -->
		<div class="form-group utedb-utedb_proof_image" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Utedb proof image</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var utedb_proof_imageSrc1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>';
				var utedb_proof_imageSrc2<%%RND1%%>='thumbnail.php?t=utedb&f=utedb_proof_image&i=<%%VALUE(utedb_proof_image)%%>&v=dv'
			</script>
			<a href="#" onclick="$j('#utedb_proof_imageImg<%%RND1%%>').attr('src', ($j('#utedb_proof_imageImg<%%RND1%%>').attr('src').search(/thumbnail\.php/) != -1 && utedb_proof_imageSrc1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? utedb_proof_imageSrc1<%%RND1%%> : utedb_proof_imageSrc2<%%RND1%%>)); return false;"><img id="utedb_proof_imageImg<%%RND1%%>" src="thumbnail.php?t=utedb&f=utedb_proof_image&i=<%%VALUE(utedb_proof_image)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: AI Audit (%) Score -->
		<div class="form-group utedb-utedb_ai_audit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">AI Audit (%) Score</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(utedb_ai_audit)%%></div>
			</div>
		</div>
		<!-- Field: PC Audit -->
		<div class="form-group utedb-utedb_pc_audit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC Audit</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(utedb_pc_audit)%%></div>
			</div>
		</div>
		<!-- Field: RDA Audit -->
		<div class="form-group utedb-utedb_rda_audit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">RDA Audit</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(utedb_rda_audit)%%></div>
			</div>
		</div>
		<!-- Field: BB Audit -->
		<div class="form-group utedb-utedb_bb_audit" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">BB Audit</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(utedb_bb_audit)%%></div>
			</div>
		</div>
		<!-- Field: Customer Review(s) -->
		<div class="form-group utedb-utedb_car" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Customer Review(s)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(utedb_car)%%></div>
			</div>
		</div>
		<!-- Field: CAR VIDEO -->
		<div class="form-group utedb-utedb_car_vid" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CAR VIDEO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="utedb_car_vid-link" href="link.php?t=utedb&f=utedb_car_vid&i=<%%VALUE(utedb_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-film" title="<%%VALUE(utedb_car_vid)%%>"></i></a><script>$j(function() { var e_utedb_car_vid = '<%%VALUE(utedb_car_vid)%%>'; if(e_utedb_car_vid == '' || e_utedb_car_vid == '&nbsp;' || e_utedb_car_vid == 'blank.gif') $j('#utedb_car_vid-link').hide(); });</script></div>
			</div>
		</div>
		<!-- Field: Collective TF -->
		<div class="form-group utedb-utedb_col_tf" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Collective TF</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(utedb_col_tf)%%></div>
			</div>
		</div>
		<!-- Field: Delta Flag -->
		<div class="form-group utedb-utedb_delta_flag" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Delta Flag</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(utedb_delta_flag)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
