<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the utedb_init() hook (in hooks/utedb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="utedb-utedb_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_id text-right text-bold"><%%VALUE(utedb_id)%%></td>
		<td id="utedb-utedb_madb-<%%VALUE(utedb_id)%%>" class="utedb-utedb_madb text-right text-bold"><%%VALUE(utedb_madb)%%></td>
		<td id="utedb-utedb_whos_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_whos_id text-bold"><%%VALUE(utedb_whos_id)%%></td>
		<td id="utedb-utedb_premises_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_premises_id text-bold"><%%VALUE(utedb_premises_id)%%></td>
		<td id="utedb-utedb_proof_image-<%%VALUE(utedb_id)%%>" class="utedb-utedb_proof_image text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>" data-lightbox="utedb-utedb_proof_image"><img src="thumbnail.php?i=<%%VALUE(utedb_proof_image)%%>&t=utedb&f=utedb_proof_image&v=tv" class="img-thumbnail"></a></td>
		<td id="utedb-utedb_ai_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_ai_audit text-right text-bold"><%%VALUE(utedb_ai_audit)%%></td>
		<td id="utedb-utedb_pc_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_pc_audit text-bold"><%%VALUE(utedb_pc_audit)%%></td>
		<td id="utedb-utedb_rda_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_rda_audit text-bold"><%%VALUE(utedb_rda_audit)%%></td>
		<td id="utedb-utedb_bb_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_bb_audit text-bold"><%%VALUE(utedb_bb_audit)%%></td>
		<td id="utedb-utedb_car-<%%VALUE(utedb_id)%%>" class="utedb-utedb_car text-right text-bold"><%%VALUE(utedb_car)%%></td>
		<td id="utedb-utedb_car_vid-<%%VALUE(utedb_id)%%>" class="utedb-utedb_car_vid text-bold"><a href="link.php?t=utedb&f=utedb_car_vid&i=<%%VALUE(utedb_id)%%>" target="_blank" title="<%%VALUE(utedb_car_vid)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-film text-info"></i></a></td>
		<td id="utedb-utedb_col_tf-<%%VALUE(utedb_id)%%>" class="utedb-utedb_col_tf text-bold"><%%VALUE(utedb_col_tf)%%></td>
		<td id="utedb-utedb_delta_flag-<%%VALUE(utedb_id)%%>" class="utedb-utedb_delta_flag text-bold"><%%VALUE(utedb_delta_flag)%%></td>
		<td id="utedb-utedb_hows1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows1 text-bold"><%%VALUE(utedb_hows1)%%></td>
		<td id="utedb-utedb_admin-<%%VALUE(utedb_id)%%>" class="utedb-utedb_admin text-bold"><%%VALUE(utedb_admin)%%></td>
		<td id="utedb-utedb_created-<%%VALUE(utedb_id)%%>" class="utedb-utedb_created text-bold"><%%VALUE(utedb_created)%%></td>
		<td id="utedb-utedb_updated-<%%VALUE(utedb_id)%%>" class="utedb-utedb_updated text-bold"><%%VALUE(utedb_updated)%%></td>
		<script>$j(function() {
			var e_utedb_car_vid = '<%%VALUE(utedb_car_vid)%%>'; if(e_utedb_car_vid == '' || e_utedb_car_vid == '&nbsp;') $j(/*<*/ '#utedb-utedb_car_vid-<%%VALUE(utedb_id)%%>' /*>*/).html('');
		});</script>
