<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the utedb_init() hook (in hooks/utedb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="utedb-utedb_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_id text-right"><%%SELECT%%><%%VALUE(utedb_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_madb-<%%VALUE(utedb_id)%%>" class="utedb-utedb_madb text-right"><%%SELECT%%><%%VALUE(utedb_madb)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what1"><%%SELECT%%><%%VALUE(utedb_what1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who1"><%%SELECT%%><%%VALUE(utedb_who1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when1"><%%SELECT%%><%%VALUE(utedb_when1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which1"><%%SELECT%%><%%VALUE(utedb_which1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where1"><%%SELECT%%><%%VALUE(utedb_where1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why1"><%%SELECT%%><%%VALUE(utedb_why1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr1"><%%SELECT%%><%%VALUE(utedb_howr1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows1"><%%SELECT%%><%%VALUE(utedb_hows1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq1"><%%SELECT%%><%%VALUE(utedb_howq1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt1"><%%SELECT%%><%%VALUE(utedb_howt1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why2"><%%SELECT%%><%%VALUE(utedb_why2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why3"><%%SELECT%%><%%VALUE(utedb_why3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where2"><%%SELECT%%><%%VALUE(utedb_where2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where3"><%%SELECT%%><%%VALUE(utedb_where3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which2"><%%SELECT%%><%%VALUE(utedb_which2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which3"><%%SELECT%%><%%VALUE(utedb_which3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when2"><%%SELECT%%><%%VALUE(utedb_when2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when3"><%%SELECT%%><%%VALUE(utedb_when3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who2"><%%SELECT%%><%%VALUE(utedb_who2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who3"><%%SELECT%%><%%VALUE(utedb_who3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what2"><%%SELECT%%><%%VALUE(utedb_what2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what3"><%%SELECT%%><%%VALUE(utedb_what3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr2"><%%SELECT%%><%%VALUE(utedb_howr2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr3"><%%SELECT%%><%%VALUE(utedb_howr3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows2"><%%SELECT%%><%%VALUE(utedb_hows2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows3"><%%SELECT%%><%%VALUE(utedb_hows3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq2"><%%SELECT%%><%%VALUE(utedb_howq2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq3"><%%SELECT%%><%%VALUE(utedb_howq3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt2"><%%SELECT%%><%%VALUE(utedb_howt2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt3"><%%SELECT%%><%%VALUE(utedb_howt3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_premises_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_premises_id"><%%SELECT%%><%%VALUE(utedb_premises_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_created-<%%VALUE(utedb_id)%%>" class="utedb-utedb_created"><%%SELECT%%><%%VALUE(utedb_created)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_updated-<%%VALUE(utedb_id)%%>" class="utedb-utedb_updated"><%%SELECT%%><%%VALUE(utedb_updated)%%><%%ENDSELECT%%></td>
