<!-- To change the layout of the detail view form, we recommend using JS code in hooks/utedb-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="utedb_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="utedb_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="utedb_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: MADb Id -->
				<div class="form-group utedb-utedb_madb">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_madb" data-parent_link="view_parent_modal">MADb Id<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(utedb_madb)%%><%%PLINK(utedb_madb)%%><%%ADDNEW(madb)%%></div>
					</div>
				</div>

				<!-- Field: Premises Id -->
				<div class="form-group utedb-utedb_premises_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Premises Id</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="utedb_premises_id"></div>
					</div>
				</div>

				<!-- Field: Utedb proof image -->
				<div class="form-group utedb-utedb_proof_image">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Utedb proof image <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#utedb_proof_image-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="utedb_proof_image-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 500 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>" data-lightbox="utedb_dv"><img src="thumbnail.php?i=<%%VALUE(utedb_proof_image)%%>&t=utedb&f=utedb_proof_image&v=dv" class="img-thumbnail" id="utedb_proof_image-image"></a></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(utedb_proof_image)%%>
									<%%UPLOADFILE(utedb_proof_image)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_utedb_proof_image = '<%%VALUE(utedb_proof_image)%%>'; if(e_utedb_proof_image == '' || e_utedb_proof_image == '&nbsp;' || e_utedb_proof_image == 'blank.gif') { $j('#utedb_proof_image-link').hide(); $j('#utedb_proof_image-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: AI Audit (%) Score -->
				<div class="form-group utedb-utedb_ai_audit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_ai_audit">AI Audit (%) Score</label>
					<div class="col-lg-9">
						<input maxlength="12" type="text" class="form-control" name="utedb_ai_audit" id="utedb_ai_audit" value="<%%VALUE(utedb_ai_audit)%%>">
					</div>
				</div>

				<!-- Field: PC Audit -->
				<div class="form-group utedb-utedb_pc_audit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_pc_audit">PC Audit</label>
					<div class="col-lg-9">
						<%%COMBO(utedb_pc_audit)%%>
					</div>
				</div>

				<!-- Field: RDA Audit -->
				<div class="form-group utedb-utedb_rda_audit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_rda_audit">RDA Audit</label>
					<div class="col-lg-9">
						<%%COMBO(utedb_rda_audit)%%>
					</div>
				</div>

				<!-- Field: BB Audit -->
				<div class="form-group utedb-utedb_bb_audit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_bb_audit">BB Audit</label>
					<div class="col-lg-9">
						<%%COMBO(utedb_bb_audit)%%>
					</div>
				</div>

				<!-- Field: Customer Review(s) -->
				<div class="form-group utedb-utedb_car">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_car">Customer Review(s)</label>
					<div class="col-lg-9">
						<%%COMBO(utedb_car)%%>
					</div>
				</div>

				<!-- Field: CAR VIDEO -->
				<div class="form-group utedb-utedb_car_vid">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">CAR VIDEO <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#utedb_car_vid-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="utedb_car_vid-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 500 KB.<br>Allowed file types: mov, avi, swf, asf, wmv, mpg, mpeg, mp4, flv</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><a id="utedb_car_vid-link" href="link.php?t=utedb&f=utedb_car_vid&i=<%%VALUE(utedb_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-film" title="<%%VALUE(utedb_car_vid)%%>" style="font-size: 4em;"></i></a></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(utedb_car_vid)%%>
									<%%UPLOADFILE(utedb_car_vid)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_utedb_car_vid = '<%%VALUE(utedb_car_vid)%%>'; if(e_utedb_car_vid == '' || e_utedb_car_vid == '&nbsp;' || e_utedb_car_vid == 'blank.gif') { $j('#utedb_car_vid-link').hide(); $j('#utedb_car_vid-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Collective TF -->
				<div class="form-group utedb-utedb_col_tf">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_col_tf">Collective TF <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#utedb_col_tf-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="utedb_col_tf-description"><div class="alert alert-info bspacer-xs">COLLECTIVE TRUE AND FALSE</div></span>
						<input maxlength="40" type="text" class="form-control" name="utedb_col_tf" id="utedb_col_tf" value="<%%VALUE(utedb_col_tf)%%>">
					</div>
				</div>

				<!-- Field: Delta Flag -->
				<div class="form-group utedb-utedb_delta_flag">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_delta_flag">Delta Flag</label>
					<div class="col-lg-9">
						<%%COMBO(utedb_delta_flag)%%>
					</div>
				</div>

				<!-- Field: Utedb hows1 -->
				<div class="form-group utedb-utedb_hows1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utedb_hows1">Utedb hows1</label>
					<div class="col-lg-9">
						<textarea maxlength="255" class="form-control" name="utedb_hows1" id="utedb_hows1" rows=" 5"><%%VALUE(utedb_hows1)%%></textarea>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="utedb_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.utedb-utedb_madb')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#utedb_dv_container-loading').addClass('hidden');
						$j('#utedb_dv_container').removeClass('hidden');
						AppGini.focusFormElement('utedb', 'utedb_madb');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#utedb_dv_container-loading').addClass('hidden');
				$j('#utedb_dv_container').removeClass('hidden');
			}

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			utedbUniqueFields.forEach(fieldName => enforce_uniqueness('utedb', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=utedb&id=<%%URLVALUE(utedb_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=utedb&id=<%%URLVALUE(utedb_id)%%>');
					}
				);
			}
		});

		var utedbUniqueFields = [
		];
	</script>