<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the utedb_init() hook (in hooks/utedb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="utedb-utedb_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_id text-right"><%%SELECT%%><%%VALUE(utedb_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_madb-<%%VALUE(utedb_id)%%>" class="utedb-utedb_madb text-right"><%%SELECT%%><%%VALUE(utedb_madb)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what1"><%%SELECT%%><%%VALUE(utedb_what1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who1"><%%SELECT%%><%%VALUE(utedb_who1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when1"><%%SELECT%%><%%VALUE(utedb_when1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which1"><%%SELECT%%><%%VALUE(utedb_which1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where1"><%%SELECT%%><%%VALUE(utedb_where1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why1"><%%SELECT%%><%%VALUE(utedb_why1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr1"><%%SELECT%%><%%VALUE(utedb_howr1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows1"><%%SELECT%%><%%VALUE(utedb_hows1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq1"><%%SELECT%%><%%VALUE(utedb_howq1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt1"><%%SELECT%%><%%VALUE(utedb_howt1)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why2"><%%SELECT%%><%%VALUE(utedb_why2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_why3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why3"><%%SELECT%%><%%VALUE(utedb_why3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where2"><%%SELECT%%><%%VALUE(utedb_where2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_where3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where3"><%%SELECT%%><%%VALUE(utedb_where3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which2"><%%SELECT%%><%%VALUE(utedb_which2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_which3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which3"><%%SELECT%%><%%VALUE(utedb_which3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when2"><%%SELECT%%><%%VALUE(utedb_when2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_when3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when3"><%%SELECT%%><%%VALUE(utedb_when3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who2"><%%SELECT%%><%%VALUE(utedb_who2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_who3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who3"><%%SELECT%%><%%VALUE(utedb_who3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what2"><%%SELECT%%><%%VALUE(utedb_what2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_what3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what3"><%%SELECT%%><%%VALUE(utedb_what3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr2"><%%SELECT%%><%%VALUE(utedb_howr2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howr3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr3"><%%SELECT%%><%%VALUE(utedb_howr3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows2"><%%SELECT%%><%%VALUE(utedb_hows2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_hows3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows3"><%%SELECT%%><%%VALUE(utedb_hows3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq2"><%%SELECT%%><%%VALUE(utedb_howq2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howq3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq3"><%%SELECT%%><%%VALUE(utedb_howq3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt2"><%%SELECT%%><%%VALUE(utedb_howt2)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_howt3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt3"><%%SELECT%%><%%VALUE(utedb_howt3)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_premises_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_premises_id"><%%SELECT%%><%%VALUE(utedb_premises_id)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_proof_image-<%%VALUE(utedb_id)%%>" class="utedb-utedb_proof_image"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>" data-lightbox="utedb-utedb_proof_image"><img src="thumbnail.php?i=<%%VALUE(utedb_proof_image)%%>&t=utedb&f=utedb_proof_image&v=tv" class="img-thumbnail"></a></td>
		<td id="utedb-utedb_ai_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_ai_audit text-right"><%%SELECT%%><%%VALUE(utedb_ai_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_pc_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_pc_audit"><%%SELECT%%><%%VALUE(utedb_pc_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_rda_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_rda_audit"><%%SELECT%%><%%VALUE(utedb_rda_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_bb_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_bb_audit"><%%SELECT%%><%%VALUE(utedb_bb_audit)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_cat_reviews-<%%VALUE(utedb_id)%%>" class="utedb-utedb_cat_reviews"><%%SELECT%%><%%VALUE(utedb_cat_reviews)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_catvid_reviews-<%%VALUE(utedb_id)%%>" class="utedb-utedb_catvid_reviews"><a href="link.php?t=utedb&f=utedb_catvid_reviews&i=<%%VALUE(utedb_id)%%>" target="_blank" title="<%%VALUE(utedb_catvid_reviews)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-film text-info"></i></a></td>
		<td id="utedb-utedb_col_tf-<%%VALUE(utedb_id)%%>" class="utedb-utedb_col_tf"><%%SELECT%%><%%VALUE(utedb_col_tf)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_delta_flag-<%%VALUE(utedb_id)%%>" class="utedb-utedb_delta_flag"><%%SELECT%%><%%VALUE(utedb_delta_flag)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_created-<%%VALUE(utedb_id)%%>" class="utedb-utedb_created"><%%SELECT%%><%%VALUE(utedb_created)%%><%%ENDSELECT%%></td>
		<td id="utedb-utedb_updated-<%%VALUE(utedb_id)%%>" class="utedb-utedb_updated"><%%SELECT%%><%%VALUE(utedb_updated)%%><%%ENDSELECT%%></td>
		<script>$j(function() {
			var e_utedb_catvid_reviews = '<%%VALUE(utedb_catvid_reviews)%%>'; if(e_utedb_catvid_reviews == '' || e_utedb_catvid_reviews == '&nbsp;') $j(/*<*/ '#utedb-utedb_catvid_reviews-<%%VALUE(utedb_id)%%>' /*>*/).html('');
		});</script>
