<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the utedb_init() hook (in hooks/utedb.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="utedb-utedb_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_id text-right text-bold"><%%VALUE(utedb_id)%%></td>
		<td id="utedb-utedb_madb-<%%VALUE(utedb_id)%%>" class="utedb-utedb_madb text-right text-bold"><%%VALUE(utedb_madb)%%></td>
		<td id="utedb-utedb_what1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what1 text-bold"><%%VALUE(utedb_what1)%%></td>
		<td id="utedb-utedb_who1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who1 text-bold"><%%VALUE(utedb_who1)%%></td>
		<td id="utedb-utedb_when1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when1 text-bold"><%%VALUE(utedb_when1)%%></td>
		<td id="utedb-utedb_which1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which1 text-bold"><%%VALUE(utedb_which1)%%></td>
		<td id="utedb-utedb_where1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where1 text-bold"><%%VALUE(utedb_where1)%%></td>
		<td id="utedb-utedb_why1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why1 text-bold"><%%VALUE(utedb_why1)%%></td>
		<td id="utedb-utedb_howr1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr1 text-bold"><%%VALUE(utedb_howr1)%%></td>
		<td id="utedb-utedb_hows1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows1 text-bold"><%%VALUE(utedb_hows1)%%></td>
		<td id="utedb-utedb_howq1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq1 text-bold"><%%VALUE(utedb_howq1)%%></td>
		<td id="utedb-utedb_howt1-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt1 text-bold"><%%VALUE(utedb_howt1)%%></td>
		<td id="utedb-utedb_why2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why2 text-bold"><%%VALUE(utedb_why2)%%></td>
		<td id="utedb-utedb_why3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_why3 text-bold"><%%VALUE(utedb_why3)%%></td>
		<td id="utedb-utedb_where2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where2 text-bold"><%%VALUE(utedb_where2)%%></td>
		<td id="utedb-utedb_where3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_where3 text-bold"><%%VALUE(utedb_where3)%%></td>
		<td id="utedb-utedb_which2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which2 text-bold"><%%VALUE(utedb_which2)%%></td>
		<td id="utedb-utedb_which3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_which3 text-bold"><%%VALUE(utedb_which3)%%></td>
		<td id="utedb-utedb_when2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when2 text-bold"><%%VALUE(utedb_when2)%%></td>
		<td id="utedb-utedb_when3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_when3 text-bold"><%%VALUE(utedb_when3)%%></td>
		<td id="utedb-utedb_who2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who2 text-bold"><%%VALUE(utedb_who2)%%></td>
		<td id="utedb-utedb_who3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_who3 text-bold"><%%VALUE(utedb_who3)%%></td>
		<td id="utedb-utedb_what2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what2 text-bold"><%%VALUE(utedb_what2)%%></td>
		<td id="utedb-utedb_what3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_what3 text-bold"><%%VALUE(utedb_what3)%%></td>
		<td id="utedb-utedb_howr2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr2 text-bold"><%%VALUE(utedb_howr2)%%></td>
		<td id="utedb-utedb_howr3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howr3 text-bold"><%%VALUE(utedb_howr3)%%></td>
		<td id="utedb-utedb_hows2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows2 text-bold"><%%VALUE(utedb_hows2)%%></td>
		<td id="utedb-utedb_hows3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_hows3 text-bold"><%%VALUE(utedb_hows3)%%></td>
		<td id="utedb-utedb_howq2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq2 text-bold"><%%VALUE(utedb_howq2)%%></td>
		<td id="utedb-utedb_howq3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howq3 text-bold"><%%VALUE(utedb_howq3)%%></td>
		<td id="utedb-utedb_howt2-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt2 text-bold"><%%VALUE(utedb_howt2)%%></td>
		<td id="utedb-utedb_howt3-<%%VALUE(utedb_id)%%>" class="utedb-utedb_howt3 text-bold"><%%VALUE(utedb_howt3)%%></td>
		<td id="utedb-utedb_premises_id-<%%VALUE(utedb_id)%%>" class="utedb-utedb_premises_id text-bold"><%%VALUE(utedb_premises_id)%%></td>
		<td id="utedb-utedb_proof_image-<%%VALUE(utedb_id)%%>" class="utedb-utedb_proof_image text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(utedb_proof_image)%%>" data-lightbox="utedb-utedb_proof_image"><img src="thumbnail.php?i=<%%VALUE(utedb_proof_image)%%>&t=utedb&f=utedb_proof_image&v=tv" class="img-thumbnail"></a></td>
		<td id="utedb-utedb_pc_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_pc_audit text-bold"><%%VALUE(utedb_pc_audit)%%></td>
		<td id="utedb-utedb_ai_audit-<%%VALUE(utedb_id)%%>" class="utedb-utedb_ai_audit text-bold"><%%VALUE(utedb_ai_audit)%%></td>
		<td id="utedb-utedb_created-<%%VALUE(utedb_id)%%>" class="utedb-utedb_created text-bold"><%%VALUE(utedb_created)%%></td>
		<td id="utedb-utedb_updated-<%%VALUE(utedb_id)%%>" class="utedb-utedb_updated text-bold"><%%VALUE(utedb_updated)%%></td>
