<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Whats id -->
		<div class="form-group whats-whats_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whats id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_id)%%></div>
			</div>
		</div>
		<!-- Field: What1 (Task English) -->
		<div class="form-group whats-whats_what1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What1 (Task English)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_what1)%%></div>
			</div>
		</div>
		<!-- Field: What2 (Task Hindi) -->
		<div class="form-group whats-whats_what2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What2 (Task Hindi)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_what2)%%></div>
			</div>
		</div>
		<!-- Field: What3 (If Any) -->
		<div class="form-group whats-whats_what3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">What3 (If Any)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_what3)%%></div>
			</div>
		</div>
		<!-- Field: Description -->
		<div class="form-group whats-whats_description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_description)%%></div>
			</div>
		</div>
		<!-- Field: Created AT -->
		<div class="form-group whats-whats_created" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created AT</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_created)%%></div>
			</div>
		</div>
		<!-- Field: Updated AT -->
		<div class="form-group whats-whats_updated" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Updated AT</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whats_updated)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
