<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the whichs_init() hook (in hooks/whichs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="whichs-whichs_id-<%%VALUE(whichs_id)%%>" class="whichs-whichs_id text-right text-bold"><%%VALUE(whichs_id)%%></td>
		<td id="whichs-whichs_which1-<%%VALUE(whichs_id)%%>" class="whichs-whichs_which1 text-bold"><%%VALUE(whichs_which1)%%></td>
		<td id="whichs-whichs_which2-<%%VALUE(whichs_id)%%>" class="whichs-whichs_which2 text-bold"><%%VALUE(whichs_which2)%%></td>
		<td id="whichs-whichs_which3-<%%VALUE(whichs_id)%%>" class="whichs-whichs_which3 text-bold"><%%VALUE(whichs_which3)%%></td>
		<td id="whichs-whichs_description-<%%VALUE(whichs_id)%%>" class="whichs-whichs_description text-bold"><%%VALUE(whichs_description)%%></td>
		<td id="whichs-whichs_created-<%%VALUE(whichs_id)%%>" class="whichs-whichs_created text-bold"><%%VALUE(whichs_created)%%></td>
		<td id="whichs-whichs_updated-<%%VALUE(whichs_id)%%>" class="whichs-whichs_updated text-bold"><%%VALUE(whichs_updated)%%></td>
