<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Whichs id -->
		<div class="form-group whichs-whichs_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whichs id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_id)%%></div>
			</div>
		</div>
		<!-- Field: Which1 (Main Thing) -->
		<div class="form-group whichs-whichs_which1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which1 (Main Thing)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_which1)%%></div>
			</div>
		</div>
		<!-- Field: Which2 (Sub Thing) -->
		<div class="form-group whichs-whichs_which2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which2 (Sub Thing)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_which2)%%></div>
			</div>
		</div>
		<!-- Field: Which3 (If Any) -->
		<div class="form-group whichs-whichs_which3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Which3 (If Any)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_which3)%%></div>
			</div>
		</div>
		<!-- Field: Description -->
		<div class="form-group whichs-whichs_description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_description)%%></div>
			</div>
		</div>
		<!-- Field: Created AT -->
		<div class="form-group whichs-whichs_created" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created AT</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_created)%%></div>
			</div>
		</div>
		<!-- Field: Updated AT -->
		<div class="form-group whichs-whichs_updated" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Updated AT</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whichs_updated)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
