<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the whos_init() hook (in hooks/whos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="whos-whos_id-<%%VALUE(whos_id)%%>" class="whos-whos_id text-right"><%%SELECT%%><%%VALUE(whos_id)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_who1-<%%VALUE(whos_id)%%>" class="whos-whos_who1"><%%SELECT%%><%%VALUE(whos_who1)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_who2-<%%VALUE(whos_id)%%>" class="whos-whos_who2"><%%SELECT%%><%%VALUE(whos_who2)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_who3-<%%VALUE(whos_id)%%>" class="whos-whos_who3"><%%SELECT%%><%%VALUE(whos_who3)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_description-<%%VALUE(whos_id)%%>" class="whos-whos_description"><%%SELECT%%><%%VALUE(whos_description)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_swg_token-<%%VALUE(whos_id)%%>" class="whos-whos_swg_token"><%%SELECT%%><%%VALUE(whos_swg_token)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_created-<%%VALUE(whos_id)%%>" class="whos-whos_created"><%%SELECT%%><%%VALUE(whos_created)%%><%%ENDSELECT%%></td>
		<td id="whos-whos_updated-<%%VALUE(whos_id)%%>" class="whos-whos_updated"><%%SELECT%%><%%VALUE(whos_updated)%%><%%ENDSELECT%%></td>
		<td class="child-madb-madb_who1 child-records-info" data-id="<%%VALUE(whos_id)%%>" data-table="madb" data-lookup-field="madb_who1">
			<a href="madb_view.php?filterer_madb_who1=<%%VALUE(whos_id)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Madb)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="madb_view.php?filterer_madb_who1=<%%VALUE(whos_id)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Madb)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
