<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Whys id -->
		<div class="form-group whys-whys_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_id)%%></div>
			</div>
		</div>
		<!-- Field: Whys why1 -->
		<div class="form-group whys-whys_why1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys why1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_why1)%%></div>
			</div>
		</div>
		<!-- Field: Whys why2 -->
		<div class="form-group whys-whys_why2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys why2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_why2)%%></div>
			</div>
		</div>
		<!-- Field: Whys why3 -->
		<div class="form-group whys-whys_why3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys why3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_why3)%%></div>
			</div>
		</div>
		<!-- Field: Whys description -->
		<div class="form-group whys-whys_description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_description)%%></div>
			</div>
		</div>
		<!-- Field: Whys created -->
		<div class="form-group whys-whys_created" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys created</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_created)%%></div>
			</div>
		</div>
		<!-- Field: Whys updated -->
		<div class="form-group whys-whys_updated" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Whys updated</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(whys_updated)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
